name: Release

on:
  push:
    branches:
      - main

env:
  binary: bevy-life-game
  itch_target: taktiks2/bevy-life-game
  # Before enabling LFS, please take a look at GitHub's documentation for costs and quota limits:
  # https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage
  use_git_lfs: false

jobs:
  # Build for wasm
  release-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.7.4
      - name: Install Trunk
        run: |
          cargo binstall trunk --no-confirm
      - name: Build
        run: |
          trunk build --release --config Trunk.build.toml
      - name: Package as a zip
        working-directory: ./target/trunk
        run: |
          zip --recurse-paths ../../${{ env.binary }}.zip .
      - name: Upload binaries to artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.binary }}.zip
          name: wasm
          retention-days: 1

  upload-to-itch:
    runs-on: ubuntu-latest
    needs:
      - release-wasm
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./builds
      - name: Install butler
        uses: jdno/setup-butler@v1.6.0
      - name: Upload to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_CREDENTIALS }}
        run: |
          for channel in $(ls builds); do
            butler push \
                --fix-permissions \
                builds/$channel/* \
                ${{ env.itch_target }}:$channel
          done
